*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Interfaz/nbproject/
/Modelo/nbproject/
/Interfaz/dist/
/DAOImpl/nbproject/
/Modelo/build/
/Modelo/dist/
/Main/nbproject/private/
/GestorArchivo/nbproject/
/DAO/nbproject/private/
/GestorPlu/build/
/DAO/dist/
/DAO/build/
/GestorPlu/dist/
/GestorArchivo/nbproject/private/
/GestorArchivo/build/
/DAOImpl/nbproject/private/
/DAOImpl/build/
/DAOImpl/dist/
/GestorArchivo/dist/